$h1FontSize: 80px;
$h1LineHeight: 80px;

$h2FontSize: 48px;
$h2LineHeight: 48px;

$h3FontSize: 20px;
$h3LineHeight: 24px;

$h4FontSize: 17px;
$h4LineHeight: 28px;

$p1FontSize:20px;
$p1LineHeight:30px;

$p2FontSize:16px;
$p2LineHeight:26px;