@import 'colors';
@import 'format';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
}

div.container1 {
    margin: 0 auto;
    width: 1440px;
    padding-left: 167px;

    .container {
        display: flex;
        justify-content: start;
        align-items: center;

        img.imagine {
            width: 540px;
            height: 720px;
            margin: -60px 0 0 -45px;
        }

        div {
            margin-left: calc(830px - 540px - 165px);
            width: 445px;

            h2 {
                font-size: $h2FontSize;
                line-height: $h2LineHeight;
                font-weight: bold;
            }

            p {
                margin-top: 27px;
                font-size: $p2FontSize;
                line-height: $p2LineHeight;
            }
        }
    }
}

div.container2 {
    margin: 0 auto;
    width: 1440px;
    padding-left: 167px;
    position: relative;

    .container {
        display: flex;
        justify-content: start;
        width: 1110px;
        align-items: center;

        img.imagine {
            width: 540px;
            height: 720px;
            margin-bottom: -70px;
        }

        div {
            width: 455px;
            margin-right: 136px;

            h2 {
                font-size: $h2FontSize;
                line-height: $h2LineHeight;
            }

            p {
                font-size: $p2FontSize;
                line-height: $p2LineHeight;
            }
        }
    }
}

div.container3 {
    padding: 160px 125px;
    background-color: $codGray;
    color: $white;

    .container {
        width: 1110px;
        height: 441px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .text {
            width: 445px;
            height: 213px;

            h2 {
                font-size: $h2FontSize;
                line-height: $h2LineHeight;
                margin-bottom: 27px;
            }

            p {
                font-size: $p1FontSize;
                line-height: $p1LineHeight;
            }
        }

        #listaArticole {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 540px;
            margin-left: 125px;

            article {
                display: flex;
                height: 96px;
            }

            img {
                width: 128px;
                height: 96px;
                margin-right: 30px;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
}

div.container4 {
    margin: 160px auto;
    position: relative;

    .container {
        width: 1110px;
        height: 600px;
        display: flex;
        margin: 0 auto;

        img {
            margin-right: 125px;
        }

        div.booking {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h2 {
                font-size: $h2FontSize;
                line-height: $h2LineHeight;
            }

            p {
                font-size: $p1FontSize;
                line-height: $p2LineHeight;
                margin-top: 14px;
            }

            button {
                background-color: $codGray;
                color: $white;
                width: 245px;
                height: 64px;
                font-size: 17px;

                &:hover {
                    color: black;
                    background-color: $white;
                    border: 1px solid black;
                    transition: all ease-in-out 0.15s;
                }
            }

            .grup-events {
                display: flex;
                margin-left: -125px;

                .grup-linii {
                    margin-right: 32px;
                    margin-top: 10px;

                    .linie-event {
                        height: 1px;
                        width: 95px;
                        margin-bottom: 26px;
                    }

                    .color {
                        background-color: $beaver;
                    }
                }

                ul.events {
                    list-style: none;
                    height: 72px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    li {
                        text-transform: uppercase;

                        a {
                            margin: 0 0 12px 0;
                            padding: 0;
                            text-decoration: none;
                            color: $gri;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

div.container5 {
    height: 240px;
    background-image: url(../Imagini/Footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    h2 {
        font-size: $h2FontSize;
        line-height: $h2LineHeight;
    }

    button {
        width: 245px;
        height: 64px;
        font-size: 17px;
        color: $white;
        background-color: black;
        border: 1px solid $white;

        &:hover {
            color: black;
            background-color: $white;
            border: 1px solid black;
            transition: all ease-in-out 0.15s;
        }
    }
}

div.burger {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;

    >.linie {
        margin-bottom: 6px;
        height: 6px;
        width: 160px;
        background-color: $beaver;
    }
}

#burger1 {
    position: absolute;
    right: 5%;
    top: 48%;
}

#burger2 {
    position: absolute;
    left: 10%;
    top: -5%;
}

@media screen and (max-width: 1080px) {
    div.container1 {
        padding: 0;
        width: auto;

        .container {
            flex-direction: column;

            img.imagine {
                margin-top: -96px;
                margin-left: 0;
                width: 572px;
                height: 360px;
            }

            div {
                margin: 0;
                margin-bottom: 102px;
                text-align: center;
                width: auto;

                h2 {
                    width: 457px;
                }

                p {
                    width: 457px;
                    margin-top: 27px;
                    font-size: $p1FontSize;
                    line-height: $p1LineHeight;
                }
            }
        }
    }

    div.container2 {
        width: auto;
        padding: 0;

        .container {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding-bottom: 118px;
            width: auto;

            img.imagine {
                width: 572px;
                height: 360px;
            }

            div {
                text-align: center;
                margin: 0;

                h2 {
                    margin-top: 102px;
                    margin-bottom: 27px;
                    width: 400px;
                }

                p {
                    font-size: $p1FontSize;
                    line-height: $p1LineHeight;
                }
            }
        }
    }

    div.container3 {
        padding: 142px 0 102px 0;

        .container {
            width: auto;
            height: auto;
            flex-direction: column;
            align-items: center;

            .text {
                text-align: center;
                margin-bottom: 54px;
            }

            #listaArticole {
                margin: 0;
                width: 573px;
                height: 386px;

                article {
                    img {
                        margin-right: 60px;
                    }
                }
            }
        }
    }

    div.container4 {
        margin: 0;
        width: auto;

        .container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 120px 0;
            height: auto;
            width: auto;
            position: relative;

            img {
                margin: 0;
                width: 573px;
                height: 360px;
            }

            div.booking {
                text-align: center;
                justify-content: center;
                align-items: center;

                div.text {
                    order: 1;
                    margin-bottom: 60px;

                    h2 {
                        margin-bottom: 19px;
                    }

                    p {
                        width: 457px;
                    }
                }

                button {
                    order: 3;
                }

                .grup-events {
                    order: 0;
                    flex-direction: column;
                    padding: 0;
                    width: 100%;
                    margin: 57px auto 47px auto;

                    .grup-linii {
                        margin: 0;
                        order: 1;

                        .linie-event {
                            margin: 0;
                        }
                    }

                    ul.events {
                        order: 0;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 0;
                        height: auto;
                    }
                }
            }
        }
    }

    div.container5 {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 72px 0 64px 0;

        h2 {
            margin-bottom: 24px;
        }
    }
}

@media screen and (max-width: 768px) {
    div.container1 {
        width: auto;

        .container {
            width: 327px;
            height: 662px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            img.imagine {
                height: 327px;
                height: 400px;
            }

            div {
                margin-top: 91px;
                margin-bottom: 101px;

                h2 {
                    margin-bottom: 13px;
                    font-size: 32px;
                }
            }
        }
    }

    div.contaier2 {
        width: auto;

        .container {
            img.imagine {
                width: 327px;
                height: 400px;
            }

            div {
                h2 {
                    font-size: 32px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

    div.container3 {
        .container {
            padding-bottom: 102px;
            

            #listaArticole {
                height: auto;
                margin-top: 85px;

                article {
                    flex-direction: column;
                    height: auto;
                    align-items: center;
                    div{
                        text-align: center;
                        h2{
                            font-size: 32px;
                        }
                        p{
                            font-size: $p2FontSize;
                        }
                    }

                    img {
                        width: 327px;
                        height: 245px;
                        padding: 0;
                        margin: 0;
                        margin-bottom: 36px;
                        margin-top: 56px;
                    }
                }
            }
        }
    }

    div.container4 {
        .container {
            padding-top: 80px;

            img {
                width: 327px;
                height: 400px;
            }

            div.booking {
                div.text{
                    h2{
                        font-size: 32px;
                    }
                    p{
                        font-size: $p2FontSize;
                    }
                }
                .grup-events {
                    flex-direction: column;
                    ul.events{
                        flex-direction: column;
                        li{
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }
    div.container5{
        h2{
            font-size: 32px;
            text-align: center;
        }
    }

    div.burger {
        display: none;
    }
}