@import 'colors';
@import 'format';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../Imagini/Bitmap.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'League Spartan';

    .container {
        height: 820px;
        max-width: 1440px;
        color: white;
        margin: 0 auto;
        padding: 65px 0 0 167px;

        h2 {
            font-weight: bold;
            font-size: $h2FontSize;
            line-height: $h2LineHeight;
        }

        div {
            width: 527px;
            height: 364px;
            margin-top: 124px;
            color: $shuttleGray;

            h1 {
                font-size: $h1FontSize;
                font-weight: normal;
                line-height: $h1LineHeight;
            }

            p {
                font-size: $p2FontSize;
                line-height: $p2LineHeight;
                margin-top: 10px;
                width: 445px;
            }

            button {
                width: 245px;
                height: 64px;
                font-weight: bold;
                background-color: $codGray;
                text-transform: uppercase;
                margin-top: 40px;
                border: 1px solid $shuttleGray;
                color: $shuttleGray;

                &:hover{
                    color: black;
                    background-color: $white;
                    border: 1px solid black;
                    transition: all ease-in-out 0.15s;
                }
            }
        }
    }
}

@media screen and (max-width: 1080px){
    header{
        background-image: url(../Imagini/Tablet1.jpg);

        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 0;
            padding-top: 520px;
            padding-bottom: 216px;

            div{
                margin-top: 38px;
                margin-bottom: 52px;
                height: auto;
                width: auto;
                text-align: center;
                color: white;

                h1{
                    width: 540px;
                }
                p{
                    margin-top: 20px;
                    width: 573px;
                }
                button{
                    color: white;
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    header{
        background-image: url(../Imagini/Phone1.jpg);
        background-position: top center;
        .container{
            div{
                h1{
                    font-size: 32px;
                }
                p{
                    font-size: $p2FontSize;
                    margin: 21px 0 53px 0;
                }
            }
        }
    }
}