@import 'colors';
@import 'format';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $mirage;
}

div.formular {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    gap: 20px;
    height: 100%;
    h1{
        font-size: $h1FontSize;
        line-height: $h1LineHeight;
    }
    h2{
        font-size: $h2FontSize;
        line-height: $h2LineHeight;
    }
    form {
        background-color: $ebonyClay;
        margin: 0 auto;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        input{
            width: 200px;
            height: 25px;
        }
        button{
            width: 120px;
            height: 30px;
            background-color: black;
            color: white;
            &:hover{
                background-color: white;
                color: black;
                border-radius: 10px;
            }
        }
    }
    p{
        a{
            color: $beaver;
            text-decoration: none;
        }
    }
}